<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-stop-motion"
  version="1.1.1">

	<name>StopMotion</name>
	 
	<description>
		This plugin allows take multiples pictures before return result
	</description>
	
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>  

	<js-module src="www/stopmotion.js" name="StopMotion">
		<clobbers target="plugins.stopMotion" />
	</js-module>

	
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="StopMotion">
				<param name="android-package" value="com.stopmotion"/>
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <activity android:label="@string/app_name" android:name="com.stopmotion.CameraActivity" android:theme="@android:style/Theme.Holo.Light">
            </activity>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-feature android:name="android.hardware.camera"/>
			<uses-permission android:name="android.hardware.camera.autofocus" />
		 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>

		<source-file src="src/android/com/stopmotion/StopMotion.java" target-dir="src/com/stopmotion" />
		<source-file src="src/android/com/stopmotion/FakeR.java" target-dir="src/com/stopmotion"  />
		
		<source-file src="src/android/Library/src/CameraActivity.java" target-dir="src/com/stopmotion"/>
		<source-file src="src/android/Library/src/CameraPreview.java" target-dir="src/com/stopmotion"/>
		
		<source-file src="src/android/Library/res/layout/stopmotion_activity_camera.xml" target-dir="res/layout"/>

	</platform>
</plugin>